<!DOCTYPE html>
<html lang="en">

<head>
</head>
<html>

<body>
    <h1>Card Details:</h1>

    <table style="display: inline;">
        <tr>
            <td>Name: </td>
            <td><%= card.name %></td>
        </tr>
        <tr>
            <td>Artist: </td>
            <td><%= card.artist %></td>
        </tr>
        <tr>
            <td>Attack: </td>
            <td><%= card.attack %></td>
        </tr>
        <tr>
            <td>Health: </td>
            <td><%= card.health %></td>
        </tr>
        <tr>
            <td>Class: </td>
            <td><%= card.cardClass %></td>
        </tr>
        <tr>
            <td>Rarity: </td>
            <td><%= card.rarity %></td>
        </tr>
        </table>
</body>

</html>